body {
    text-align: center;
    background-color: #240046;

}
#photo {
    width: 100px;
    height: 100px;
    border: 5px solid gray ;
    border-radius: 20%;
}

#name{
        color: #ffffff;
        text-shadow: 0 0 2px rgb(0, 0, 0);
        font-size: 40px;
        font-weight: 300px;
        line-height: normal;
}
#college{
    color: #ffffff;
}
#dev {
    color: #ffff;
}
.last{
    display: flex;
    justify-content:centre;
    gap: 40px;
}
.project {
   width: 200px;
    height: 200px;
    margin-top: 10px;
    margin-left: 50px;
    padding: 30px;
    background-color: #023e7d;
    flex: 1 1 120px;

}
.hobbie {
    width: 200px;
    height: 200px;
    margin-top: 10px;
    margin-left: 50px;
    padding: 30px;
    background-color: #023e7d;
    flex: 1 1 120px;
}
.achievements {
    width: 200px;
    height: 200px;
    margin-top: 10px;
    margin-left: 50px;
    padding: 30px;
    background-color: #023e7d;
    flex: 1 1 120px;
}

ul {
    text-align: left;
  
}
li{
    color: #ffffff;
}
.last{  
    display:flex;
    flex: wrap;
    justify-content: center;
}
@media all and (max-width:600px){
    .last{
        flex-wrap: wrap;
    }
    .project{
        flex:1 1 50%;

    }
    .hobbie{
        flex:1 1 50%;

    }
    /* flexbasis,flex-shrink ,flex-grow*/
    .achievements{
        flex:1 1 50%;

    }
}
